# Virtual Environment
venv/
env/

**/.env

__pycache__/
*.py[cod]

lib/
lib64/
bin/
include/

*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg

*.sqlite3

.vscode/
*.swp
*~
*.sublime-workspace
*.sublime-project
.idea/

*.log
*.bak
flags

*.png
*.jpg
*.json
