{% extends "scouting/base.html" %}
{% load static %}
{% block page_title %}ScoutMaster - edit player{% endblock %}
{% block scripts %}
<link rel="stylesheet" type="text/css" href="{% static 'scouting/css/form2.css' %}">
{% endblock %}
{% block content %}
<div class="input_section">
    <form action="{% url 'edit_player' player.id %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input class="input_button" type="submit" value="Update">
    </form>
</div>
{% endblock %}
